<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 <div class="hero">
   <section class="container">


     <div class="grid column" style="margin-left: auto;">
       <section class="four">
       <img src="images/bentoBox.png" alt="" style="height:250px; width:auto; ">
     </section>
       <section class="four">
         <h4>Bento Box</h4>
       <p>This index.html page contains all the ui element that will used in the superseede project. It is based on the Skeleton CSS boilerplate. Using the typographic sizes and the 960 grid. But with aded components for images, navbar, flexbox grids and theming. If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
       <a href="" class="button button-primary">Download It</a> <a href="" class="button"> Fork It</a>
     </section>
     </div>
   </section>
   </div>
 </div>
