<footer class="darkSection">
<div class="container">
<article class="grid">
  <div class="three">
    <img src="{{base.url}}/images/bentoBox.png" alt="" style="height:150px; width:auto; ">
  </div>
  <div class="three">
    <h4>Updates</h3>
      <ul class="noStyle">
        <li>news 1</li>
        <li>news 2</li>
        <li>news 3</li>
      </ul>
    </div>
    <div class="three">
      <h4>Components</h4>
      <ul class="noStyle">
        <li><a href="{{base.url}}/#card">Headlines</a></li>
        <li><a href="{{base.url}}/#button">Buttons</a></li>
        <li><a href="{{base.url}}/#images">Image</a></li>
      </ul>
    </div>
    <div class="three">
      <h4>Layouts</h4>
      <ul class="noStyle">
        <li><a href="{{base.url}}/section.html/">Navbar</a></li>
        <li><a href="{{base.url}}/section.html/#section">Container</a></li>
        <li><a href="{{base.url}}/section.html/#grid">Grid</a></li>
      </ul>
    </div>
  </article>
</footer>
