<article class="container">
  <hr id="images">
      <h4 id="postImage">Post Images</h4>
      <p>These simple flexbox items will wrap to form grids base of the document size.
        On hover the image lifts off the page to give the user feed back Both the image and user name are links that will take you to different places.</p>
        <section class="flexGrid">
          <article class="postImage">
            <a href="">
              <img src="http://placehold.it/250">
            </a>
            <p><a href="#">User Name</a></p>
          </article>
          <article class="postImage">
            <a href="">
              <img src="http://placehold.it/250">
            </a>
            <p><a href="#">User Name</a></p>
          </article>
          <article class="postImage">
            <a href="">
              <img src="http://placehold.it/250">
            </a>
            <p><a href="#">User Name</a></p>
          </article>
        </section>
    <hr>
    <h4>Avatar Images</h4>
    <p>These circles images shape also helps them distinguished users from posts. Unlike the post image element the whole avatar image section is a giant link.
    Their show only be one row of six at anytime on the main feeds.</p>
    <section class="flexGrid">
      <article class="avatarImage">
        <a href="">
          <img src="http://placehold.it/100">
          <p href="#">User Name</p>
        </a>
      </article>
      <article class="avatarImage">
        <a href="">
          <img src="http://placehold.it/100">
          <p href="#">User Name</p>
        </a>
      </article>
      <article class="avatarImage">
        <a href="">
          <img src="http://placehold.it/100">
          <p href="#">User Name</p>
        </a>
      </article>
      <article class="avatarImage">
        <a href="">
          <img src="http://placehold.it/100">
          <p href="#">User Name</p>
        </a>
      </article>
      <article class="avatarImage">
        <a href="">
          <img src="http://placehold.it/100">
          <p href="#">User Name</p>
        </a>
      </article>
      <article class="avatarImage">
        <a href="">
          <img src="http://placehold.it/100">
          <p href="#">User Name</p>
        </a>
</article>
</section>
</article>
