<hr id="list">
    <article class="row">
      <h4>List</h4>
      <p>In bento you have three different list options. With the final option <code>.noStyle</code> has no list-style.</p>
      <div class="three columns">
        <ol>
          <li>Order List</li>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ol>
      </div>
      <div class="three columns">
        <ul>
          <li>Unordered list</li>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
      <div class="three columns">
        <ul class="noStyle">
          <li>No style</li>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </article>
