<nav>
    <div class="container">
    <section class="navbar-branding">
      <a href="">bento</a>
    </section>
    <section class="link-area">
      <span href="" class="navLink drop">Components
      <div class="dropdownContain">
        <div class="dropOut">
          <div class="triangle"></div>
          <ul>
            <li><a href="{{base.url}}/#card">Card</a></li>
            <li><a href="#card">Headlines</a></li>
            <li><a href="#button">Buttons</a></li>
            <li><a href="#input">Inputs</a></li>
            <li><a href="#list">List</a></li>
            <li><a href="#table">Tables</a></li>
            <li><a href="#images">Image</a></li>
          </ul>
        </div>
      </div>
    </span>

      <span href="" class="navLink drop">Sections
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li><a href="{{base.url}}/section.html">Navbar</a></li>
              <li><a href="{{base.url}}/section.html#section">Container</a></li>
              <li><a href="{{base.url}}/section.html#grid">Grid</a></li>
            </ul>
          </div>
        </div>
      </span>
      <a href="" class="navLink">Download</a>
    </section>
  </div>
</nav>
