<hr id="table">
   <article class="row">
     <h4>Tables</h4>
     <p>Tables need to by properly formated with <code>thead</code> and <code>tbody</code>.</p>
     <table class="u-full-width">
   <thead>
     <tr>
       <th>Pokemon</th>
       <th>Level</th>
       <th>Type</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>Bulbsaur</td>
       <td>5</td>
       <td>Grass</td>
     </tr>
     <tr>
       <td>Charamder</td>
       <td>5</td>
       <td>Fire</td>
     </tr>
     <tr>
       <td>Squirtle</td>
       <td>5</td>
       <td>Water</td>
     </tr>
   </tbody>
 </table>
   </article>
