
.container
  position: relative
  width: 100%
  max-width: $container-width
  margin: 0 auto
  padding: 0 20px
  box-sizing: border-box

.grid
  display: flex
  min-width: 100%
  align-items: center
  justify-content: space-between
  margin-bottom: 1.5em
  flex-wrap: wrap
  .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve
  flex-shrink: 0
  .auto
    flex: 1
  .one
    flex: 6.5% 0
  .two
    flex: 15.0% 0 0
  .three
    flex: 23.5% 0 0
  .four
    flex: 32.0% 0 0
  .five
    flex: 40.5% 0 0
  .six
    flex: 49.0% 0 0
  .seven
    flex: 57.5% 0 0
  .eight
    flex: 66.0% 0 0
  .nine
    flex: 74.5% 0 0
  .ten
    flex: 83.0% 0 0
  .eleven
    flex: 91.5% 0
  .twelve
    flex: 100% 0 0

.center
  justify-content: center
  align-items: center

.start
  justify-content: flex-start
  .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve
    margin-right: 2%
  &:last-child .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve
    margin-right: 0
.column
  flex-direction: column

.darkSection
  padding: 2em 0
  background-color: lighten($light-grey, 5%)
  width: 100%

/*demo only*/
.grid article
  background: #ececec
  padding: .5em 0
  display: flex
  align-items: center
  justify-content: center
